(auth) {
    jwt {
        path /
        publickey /etc/login/login.public.pem
        passthrough
    }
}

(auth-strict) {
    jwt {
        path /
        publickey /etc/login/login.public.pem
        redirect https://login.18xxdepot.com/?redirect=https%3A%2F%2F{host}{uri_escaped}
    }
}

* {
    gzip

    header / -Server

    tls kelsin@valefor.com
}

import ./sites/*
